.caption{
	font-size: 12px;
	color: rgb(112, 119, 134);
	right: 450px;
	direction: rtl;
	position: absolute;
	z-index: 1;
	
	padding-top: 20px;
	border-top: 2px solid #CCCCCC;
	border-spacing: 7px;
	
	height: 450px;
	padding-right: 20px;
	border-right: 2px solid #CCCCCC;
	border-spacing: 7px;
}

.social{
	margin-top: 100px;
	font-size: 9px;
	color: rgb(112, 119, 134);
	margin-left: 170px;
}


.table{
	display: grid;
	margin-left: 110px;
	grid-template-columns: 350px 370px 220px 212px; 
	grid-auto-rows: 20px;
	padding: 60px;
	text-align: right;
	
	font-size: 14px;
	color: rgb(112, 119, 134);
}

.first_col{
	height: 135px;
	padding-left: 20px;
	border-left: 2px solid #CCCCCC;
	border-spacing: 7px;
}

.second_col{
	height: 310px;
	padding-right: 30px;
	border-right: 2px solid #CCCCCC;
	border-spacing: 7px;
}

.pic_contributors{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-unstyled{
	list-style-type: none;
}

.list-styled{
  list-style-type: disc;
  list-style-position: inside;
  direction: rtl;
  float: right;
}
