@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
div,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Titillium Web", sans-serif;
}

button:hover {
  cursor: pointer;
}

.security-features {
  width: 1146px;
  height: 173px;
  border: solid #b9b9b9;
  border-width: 0 2px 2px 0;
}
.security-features .physical-security {
  margin-left: 500px;
  width: 613px;
  text-align: right;
}
.security-features .physical-security h1 {
  font-weight: 200;
  color: #535353;
  font-size: 3rem;
  letter-spacing: 2px;
}
.security-features .physical-security p {
  line-height: 1.3rem;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #959393;
  font-size: 1.3rem;
}
.security-features .physical-security span {
  color: #f75d5d;
}
.security-features .learn-more {
  margin-top: 25px;
  margin-left: 978.5px;
  height: 65px;
  width: 335px;
  border: 1px solid #c7c7c7;
  border-radius: 30px;
  background: #ffffff;
  font-size: 1rem;
  color: #676767;
}
.security-features .learn-more:hover {
  background: linear-gradient(315deg, rgb(26, 162, 209) 0%, rgb(91, 35, 155) 80%);
  color: #ffffff;
}

.reviewers-pics {
  margin-top: 70px;
}

.our-app {
  background: url("../resources/additional-advantage.png") no-repeat 956px 0;
  height: 665px;
  margin-top: 67px;
}
.our-app .slider-quotes {
  display: grid;
  grid-template-columns: 54px 515px;
  padding-left: 365px;
}
.our-app .slider-quotes input[type=radio]:after {
  width: 17px;
  height: 17px;
  border-radius: 17px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.our-app .slider-quotes input[type=radio]:checked:after {
  width: 17px;
  height: 17px;
  border-radius: 17px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #000000;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.our-app .slider-quotes .slide2, .our-app .slider-quotes .slide3 {
  display: none;
}
.our-app .slider-quotes p {
  font-size: 24px;
}
.our-app .slider-quotes p span {
  color: #727272;
  font-size: 16px;
}
.our-app .description-app-text {
  margin-left: 640px;
  margin-top: 95px;
  width: 465px;
  text-align: right;
}
.our-app .description-app-text h1 {
  font-size: 36px;
  color: #535353;
}
.our-app .description-app-text p {
  font-size: 16px;
  color: #959393;
}
.our-app .app-links {
  margin-top: 35px;
  margin-left: 734px;
}
.our-app .app-links img {
  display: inline-block;
  margin-left: 15px;
}
.our-app .line-bottom {
  border-bottom: 1.5px solid #b9b9b9;
  width: 1400px;
  position: relative;
  top: 155px;
  margin-bottom: 0;
  float: right;
  z-index: -1;
}

.upgrade-donate {
  margin-top: 50px;
  text-align: center;
  line-height: 40px;
}
.upgrade-donate h1 {
  color: #535353;
  font-size: 36px;
}
.upgrade-donate p {
  color: #969696;
  font-size: 29px;
}
.upgrade-donate button {
  display: inline-block;
  height: 60px;
  border: none;
  border-radius: 50px;
  color: white;
  margin-top: 20px;
}
.upgrade-donate i {
  padding-right: 10px;
}
.upgrade-donate button {
  transition-duration: 0.4s;
}
.upgrade-donate .upgrade-btn {
  box-shadow: 0 10px 20px #6b76a6;
  width: 250px;
  background: linear-gradient(90deg, rgb(120, 161, 193) 0%, rgb(95, 2, 124) 100%);
}
.upgrade-donate .upgrade-btn:hover {
  width: 280px;
}
.upgrade-donate .donate-btn {
  box-shadow: 0 10px 20px #58acaf;
  margin-left: 30px;
  width: 170px;
  background: linear-gradient(90deg, rgb(120, 201, 218) 26%, rgb(79, 123, 191) 100%);
}
.upgrade-donate .donate-btn:hover {
  width: 200px;
}

/*# sourceMappingURL=index.css.map */
