.container{
	display: flex;
	flex-direction: row;
}
.language_selection{
	flex: 1 200px;
}
div .menu{
	flex: 1;
}
p.selected{
	text-decoration: underline;
}
p.language{
	margin: 5px;
	font-style: italic;
}
p.dived::after{
	content: "/";
}

.red{
	color: red;
}
.sweet_button{
	background-color: blueviolet;
	color: white;
	border: none;
}
.picture{
	height: 400px;
	width: 100%;
}
figure.picture{
	background-image: url("../resources/main-screen-background.png");
}
.absolute{
	position: absolute;
}
p.menu{
	vertical-align: middle;
	text-align: center;
}
.center_text{
	flex: 1;
	align-items: center;
	text-align: center;
	vertical-align: middle;
	align-items: center;
}
div.icons{
	position: absolute; 
	right: 15px;
}
.icons{
	position: relative;
	display: block;
}
